<div class="d-flex flex-column min-vh-100 text-center">
    <div class="container mt-4">
      <img src="/static/logo.png" alt="passport Logo" width="200" class="img-fluid mx-auto d-block">
      </div>
    

      <div class="container my-4 flex-grow-1 d-flex align-items-center justify-content-center">
        <form class="w-100" style="max-width: 400px; margin: auto;" action="/login" method="post">
          <div class="mb-3 text-start">
            <label for="userName" class="form-label">userName</label>
            <input type="userName" class="form-control" id="userName" placeholder="enter your user name">
          </div>
          <div class="mb-3 text-start">
            <label for="password" class="form-label">password</label>
            <input type="password" class="form-control" id="password" placeholder="enter your password">
          </div>
        </form>
      </div>

      <div class="container my-4 d-flex align-items-center justify-content-center">
        <p class="text-danger fw-bold text-center"> <%= messages?.error?? "" %> </p>
      </div>

      
    
    
      <div class="container mb-4">
        <div class="row justify-content-center">
          <div class="col-6 col-sm-4 mb-2">
            <button type="submit" class="btn btn-primary w-100">login</button>
          </div>
          <div class="col-6 col-sm-4 mb-2">
            <a href="/register" class="btn btn-secondary w-100">signup</a>
          </div>
          <div class="col-6 col-sm-4 mb-2">
            <a href="/" class="btn btn-outline-danger w-100">Home</a>
          </div>
        </div>
      </div>    
</div>